* {

	margin: 0;
	padding: 0;
	vertical-align: top;

}

body {

	div#fixed-header-area {

		position: fixed;
		background-color: #f6f6f6;
		width: 100%;
		box-shadow: 0 1px 2px #e0e0e0;
		padding: 5px 0 5px 0;

		header {	

			input#sentence {

				width: 65%;
				font-size: 1.4em;
				display: inline-block;
				padding: 12px 4px 12px 4px;
				margin: 20px 10px 20px 10px;

			}

			div#speech {

				margin-top: 20px;
				color: #fefefe;
				border: 1px solid #f0f0f0;
				cursor: pointer;
				background-color: #10b5b8;
				display: inline-block;
				padding: 18px;

			}

		}

	}

	div#section-area {

		padding-top: 120px;
		padding-bottom: 70px;

		section#core-btn-section {

			div {

				height: 140px;
				width: 140px;
				margin: 7px;
				display: inline-block;
				box-shadow: 0 1px 2px #e0e0e0;

			}

		}

		footer#settings-footer {

			bottom: 0;
			position: fixed;
			width: 100%;
			background-color: #f6f6f6;
			border: 1px solid #f0f0f0;

			div.settings {

				color: #fefefe;
				cursor: pointer;
				border: 1px solid #f0f0f0;
				background-color: #10b5b8;
				display: inline-block;
				padding: 18px;

			}

		}	

	}

}