<div id="fixed-header-area">
	<header>
		<input id="sentence" type="text">
		<div id="speech">Speak</div>
		<!-- Dynam Elems... -->
	</header>
</div>
<div id="section-area">
	<section id="core-btn-section">
		<!-- SubView for Backbone or Angular... -->
		<div>I</div>
		<div>want</div>
		<div>need</div>
		<div>toys</div>
		<div>I</div>
		<div>want</div>
		<div>need</div>
		<div>toys</div>
		<div>I</div>
		<div>want</div>
		<div>need</div>
		<div>toys</div>
		<div>I</div>
		<div>want</div>
		<div>need</div>
		<div>toys</div>
	</section>
	<footer id="settings-footer">
		<div class="settings">Client</div>
		<div class="settings">Admin</div>
	</footer>
</div>